<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.UserRegistrationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Reserve</servlet-name>
    <servlet-class>servlet.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserve</servlet-name>
    <url-pattern>/reserve</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MyBookings</servlet-name>
    <servlet-class>servlet.MyBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBookings</servlet-name>
    <url-pattern>/mybookings</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/changepassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteProfile</servlet-name>
    <servlet-class>servlet.DeleteProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfile</servlet-name>
    <url-pattern>/deleteprofile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>AdminDashboard</servlet-name>
    <servlet-class>servlet.AdminDashboardServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminDashboard</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Rooms</servlet-name>
    <servlet-class>servlet.RoomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rooms</servlet-name>
    <url-pattern>/rooms</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomsAdmin</servlet-name>
    <servlet-class>servlet.RoomsAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomsAdmin</servlet-name>
    <url-pattern>/admin-rooms</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ToggleRoomAvailability</servlet-name>
    <servlet-class>servlet.ToggleRoomAvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToggleRoomAvailability</servlet-name>
    <url-pattern>/toggle-availability</url-pattern>
  </servlet-mapping>


</web-app>
